html {
    background-color: #ededed;
    font-family: "Roboto", sans-serif;
}

article {
    display: grid;
    color: #010101;
}

header {
    background-color: #e3cfdf;
    padding: 5px 10px;
    text-align: center;
    margin: 0px 100px;
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
}

h2 {
    font-size: 1.5em;
    line-height: 0.8em;
}

section.main {
    margin: 0px 100px;
}

section.main img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 25rem;
}

section.sources {
    display: flex;
    float: right;
    flex-direction: row;
    text-align: right;
    justify-content: right;
    align-items: right;
    margin: 0px 100px;
    border-top: 1px solid #919191;
}

p {
    text-indent: 2em;
    padding-top: 10px;
}

ul {
    list-style-type: none;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #7a6374;
}

/* mouse over link */
a:hover {
    color: #b392aa;
    text-decoration: underline;
    text-decoration-style: dotted;
}